<nav>
  <div class="nav-left">
    <div class="logo">
      <a href="">
        <img src="https://m.media-amazon.com/images/G/01/iscore/inspire/amazon_logo_RGB_REV._CB1627603987_.png" alt="logo">
      </a>
    </div>
    <div class="location">
      <p>Delivering To</p>
    </div>
  </div>
  <div class="nav-fill">
    <select>
      <option value="">All</option>
    </select>
    <input type="text" class="searchInput">
    <button class="searchButton"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <div class="nav-right">
    <select class="language">
      <option value="English">EN</option>
      <option value="Hindi">HN</option>
      <option value="Bengali">BN</option>
    </select>
    <div class="login">
      <p>Hello, sign in</p>
      <span>Account & Lists</span>
    </div>
    <div class="return">
      <p>Returns &</p>
      <span>Orders</span>
    </div>
    <div class="cart">
      <span><i class="fa-solid fa-cart-shopping"></i></span>
      <p>Cart</p>
    </div>
  </div>
</nav>
<div class="nav2">
  <ul>
    <li><i class="fa-solid fa-bars" style="font-size: larger;"></i>&nbsp;All</li>
    <li>Fresh</li>
    <li>MX Player</li>
    <li>Sell</li>
    <li>Best Sellers</li>
    <li>Today's Deals</li>
    <li>Mobiles</li>
    <li>Customer Service</li>
    <li>Prime</li>
    <li>Electronics</li>
    <li>Home & Kitchen</li>
    <li>Amazon Pay</li>
    <li>New Releases</li>
    <li>Fashion</li>
    <li>Car & Motorbike</li>
    <li>Computers</li>
  </ul>

</div>
