<app-navbar></app-navbar>
<div class="main">
  <div class="container1">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="Ad1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="Ad2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="Ad3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev controlsBtn" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next controlsBtn" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="c1-cards-outer">
      <div class="c1-cards-inner">
        <div class="c1-cards">
          <span>Revamp your home in style</span>
          <div class="collections-cards">
            <a href="">
              <div class="card-collection">
                <img src="186x116_Home_furnishings_2._SY116_CB555624324_.jpg" alt="">
                <p>Cushion covers, bedsheets & more</p>
              </div>
            </a>
            <a href="">
              <div class="card-collection">
                <img src="186x116_Home_decor_1._SY116_CB555624324_.jpg" alt="">
                <p>Figurines, vases & more</p>
              </div>
            </a>
            <a href="">
              <div class="card-collection">
                <img src="186x116_Home_storage_1._SY116_CB555624324_.jpg" alt="">
                <p>Home storage</p>
              </div>
            </a>
            <a href="">
              <div class="card-collection">
                <img src="186x116_Home_lighting_2._SY116_CB555624324_.jpg" alt="">
                <p>Lighting solutions</p>
              </div>
            </a>
          </div>
          <a href="">Explore All</a>
        </div>
        <div class="c1-cards">
          <span>Explore more from Small Businesses</span>
          <a href="">Explore All</a>
        </div>
        <div class="c1-cards">
          <span>Appliances for your home | Up to 55% off</span>
          <a href="">Explore All</a>
        </div>
        <div class="c1-cards">
          <span>Revamp your home in style</span>
          <a href="">Explore All</a>
        </div>
      </div>
    </div>
  </div>
</div>
